In [1]:
s1 = "abc d ad*3nvs acn";
s2 = "ansf wef3 24r * 30";

In [2]:
set1 = Set(s1);
set2 = Set(s2);

In [3]:
s1s2 = intersect(set1, set2)

Set{Char} with 6 elements:
  'n'
  '3'
  'a'
  's'
  '*'
  ' '

In [4]:
for i in s1s2
      s1 = replace(s1, i => "");
      s2 = replace(s2, i => "");
end

In [5]:
println(s1);
print(s2);

bcddvc
fwef24r0